test1/.vs/test1/CopilotIndices/17.14.1147.5054/CodeChunks.db
test1/.vs/test1/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
test1/test1/obj/Debug/net8.0/apphost.exe
test1/test1/obj/Debug/net8.0/EndpointInfo/test1.json
test1/test1/obj/Debug/net8.0/ref/test1.dll
test1/test1/obj/Debug/net8.0/refint/test1.dll
test1/test1/obj/Debug/net8.0/rjimswa.dswa.cache.json
test1/test1/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
test1/test1/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
test1/test1/obj/Debug/net8.0/rpswa.dswa.cache.json
test1/test1/obj/Debug/net8.0/staticwebassets.build.endpoints.json
test1/test1/obj/Debug/net8.0/staticwebassets.build.json
test1/test1/obj/Debug/net8.0/staticwebassets.build.json.cache
test1/test1/obj/Debug/net8.0/staticwebassets.development.json
test1/test1/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
